@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://use.typekit.net/een1hso.css');

@layer utilities {
	.scrollbar::-webkit-scrollbar {
		width: 15px;
		height: 5px;
	}

	.scrollbar::-webkit-scrollbar-track {
		background: #f3f3f3;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		background: #d6d6d6;
		border-radius: 100vh;
		border: 3px solid #f3f3f3;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		background: #c7c7c7;
	}
}

div {
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'SofiaPro-Light';
	src: local('MyFont'), url(./fonts/SofiaProLight/font.woff) format('woff');
	/* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
	font-family: 'SofiaPro-Regular';
	src: local('MyFont'), url(./fonts/SofiaProRegular/font.woff) format('woff');
	/* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
	font-family: 'SofiaPro-Bold';
	src: local('MyFont'), url(./fonts/SofiaProBold/font.woff) format('woff');
	/* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@layer base {
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-family: 'SofiaPro-Light', 'Sen', sans-serif;
	}
	.button-title {
		font-size: 1.2rem;
		padding-bottom: 0.25rem;
	}
	.button-subtitle {
		font-size: 0.9rem;
	}

	.gd-date-filter-button {
		height: 3.5rem !important;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(2rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.menu {
	animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(2rem);
	}
}

.menu--close {
	animation: fadeOut 0.2s ease-in-out;
}
