@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sofiapro";
  src: url("../public/Fonts/sofiapro-light.otf");
}

.scrollbar-remove::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.scrollbar-remove::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
.scrollbar-remove::-webkit-scrollbar-thumb {
  background: #88888800;
}

/* Handle on hover */
.scrollbar-remove::-webkit-scrollbar-thumb:hover {
  background: #55555500;
}
