@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://use.typekit.net/ymk8vco.css');

@layer utilities {
	.scrollbar::-webkit-scrollbar {
		width: 15px;
		height: 5px;
	}

	.scrollbar::-webkit-scrollbar-track {
		background: #f3f3f3;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		background: #d6d6d6;
		border-radius: 100vh;
		border: 3px solid #f3f3f3;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		background: #c7c7c7;
	}
}

div {
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'SofiaPro-Light';
	src: local('MyFont'), url(./fonts/SofiaProLight/font.woff) format('woff');
	/* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
	font-family: 'SofiaPro-Regular';
	src: local('MyFont'), url(./fonts/SofiaProRegular/font.woff) format('woff');
	/* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
	font-family: 'SofiaPro-Bold';
	src: local('MyFont'), url(./fonts/SofiaProBold/font.woff) format('woff');
	/* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@layer base {
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-family: 'SofiaPro-Light', 'Sen', sans-serif;
	}
	.button-title {
		font-size: 1.2rem;
		padding-bottom: 0.25rem;
	}
	.button-subtitle {
		font-size: 0.9rem;
	}

	.gd-date-filter-button {
		height: 3.5rem !important;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(2rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.menu {
	animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(2rem);
	}
}

.menu--close {
	animation: fadeOut 0.2s ease-in-out;
}

h1 {
	font-family: rooney-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

h2 {
	font-family: rooney-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
}

b {
	font-family: sofia-pro, sans-serif;
	font-weight: 450;
	font-style: normal;
	font-size: large;
	text-align: center;
}

h3 {
	font-family: sofia-pro, sans-serif;
	font-weight: 350;
	font-style: normal;
	font-size: small;
	text-align: center;
}

p {
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-size: 11pt;
}

.avatar {
	border: 1px solid white;
	border-radius: 50%;
	height: 48px;
	width: 48px;
}

.button-sb {
	flex: center;
	border-color: hol-grey-light;
	border-radius: rounded-md; 
	font-size: large; 
}

form {
	border-radius: 0.35em 0.35em 0.35em 0.35em;
	border-color: #BEBEBE;
	background-color: transparent;
}

input {
	padding: 0.75em;
	border-radius: 0.35em 0 0 0.35em;
	background-color: transparent;
};

input::placeholder {
    color: white;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
}

input:focus {
	background-color: #1F2A40;
}

input:focus +.submit {
	background-color: #1F2A40;
	border-radius: 0 0.35em 0.35em 0
}

form:focus {
	background: #1F2A40;
} 

form:hover + .plane {
	background: #1F2A40;
} 

form:hover {
	background-color: #1F2A40;
}

input:hover {
	background-color: #1F2A40;
}




.prompt-bubble {
	margin: 40px;
	display: inline-block;
	position: relative;
	max-width: 75%;
	height: auto;
	background-color: #2C3B59;
	border-radius: 30px;
	-webkit-border-radius: 30px;
}

.prompttext{
	padding: 0.75em;
	line-height: 1.5em;
	color: white;
	font-weight: 350;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
  }

  .response-bubble {
	margin: 40px;
	display: inline-block;
	position: relative;
	max-width: 75%;
	height: auto;
	background-color: #BEBEBE;
	border-radius: 30px;
	-webkit-border-radius: 30px;
}

.responsetext{
	padding: 0.75em;
	line-height: 1.5em;
	color: black;
	font-weight: 400;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
  }

  input::placeholder { 
	color: white;
  }
  
.chatwindow {
	background: rgb(31,42,64);
background: linear-gradient(90deg, rgba(31,42,64,1) 0%, rgba(45,31,64,1) 35%);
  }

.truncate {
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
}