.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

h3 {
  font-family: "rooney-sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: 'SofiaPro-Regular';
}

