/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  background-image: url("wendy_gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
}

h1{
  font-family: "rooney-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  max-height: 25vh;
}